@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    /* Fonts */
    --headingFont: 'Poppins', sans-serif;
    --bodyFont: 'Opens Sans', sans-serif;

    /* Colors */
    --Pink: hsl(322, 100%, 66%);
    --VeryPaleCyan: hsl(193, 100%, 96%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    width: 100%;
    height: 100%;
    color: var(--VeryDarkCyan);
}

.attribution { 
    font-size: 11px; 
    position: absolute;
    width: 100%;
    left: 11%;
    bottom: -284%;
    font-family: var(--bodyFont);
    color: #ffffff;
}

.attribution a { 
    color: var(--Pink); 
    font-family: var(--headingFont);
    font-weight: 600;
}

header {
    background-image: url(/images/bg-hero-desktop.svg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 15vh;
}

#logo {
    margin: 0 0 0 70px;
    object-fit: contain;
}

.BtnTry {
    margin: 15px 60px 0 0;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    color: var(--VeryDarkCyan);
    font-family: var(--headingFont);
    font-weight: 600;
    background-color: var(--VeryPaleCyan);
}

.BtnTry:hover {
    color: var(--GrayishBlue);
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    padding: 30px;
}

.hero-left {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--VeryDarkCyan);
}

.hero-left h2 {
    font-family: var(--headingFont);
    font-weight: 600;
    font-size: 40px;
    margin: -70px 0 20px -120px;
}

p {
    font-family: var(--bodyFont);
    font-weight: lighter;
    width: 70%;
    letter-spacing: 1px;
    line-height: 1.20;
    margin: 0 0 0 -70px;
}

.BtnFree {
    width: 300px;
    height: 50px;
    background-color: var(--Pink);
    border-radius: 30px;
    color: var(--VeryPaleCyan);
    font-family: var(--headingFont);
    font-weight: 400;
    border: none;
    outline: none;
    margin: 50px 0 0 -260px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.BtnFree:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hero-right {
    position: absolute;
    width: 50%;
    height: 90vh;
    right: 0;
    top: 10vh;
}

#mockups {
    width: 90%;
    position: absolute;
    top: 16%;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50vh 0 0 0;
}

.banner {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
    margin: 50px 0 0 0;
}

.banner-text {
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: var(--VeryDarkCyan);
}

.banner-text h2 {
    font-family: var(--headingFont);
    font-weight: 600;
    margin: 0 0 10px -335px;
}

.banner-text p {
    letter-spacing: 1px;
    line-height: 1.10;
    font-family: var(--bodyFont);
    font-weight: lighter;
    color: var(--GrayishBlue);
}

#together {
    position: absolute;
    width: 30%;
    right: 15%;
}

#flowing {
    position: absolute;
    width: 30%;
    left: 15%;
}

#users {
    position: absolute;
    width: 30%;
    right: 15%;
}

.banner:nth-child(2) .banner-text:first-of-type {
    margin: 0 0 0 550px;
}

.banner:nth-child(2) .banner-text h2:first-of-type {
    margin: 0 0 0 -225px;
}

.banner:nth-child(3) .banner-text h2:first-of-type {
    margin: 0 0 0 -400px;
}

.community {
    margin: 25vh 0 0 0;
}

.card {
    position: absolute;
    width: 50vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: var(--headingFont);
    z-index: 5;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    margin: -70px 0 0 0;
}

.card h2 {
    color: var(--VeryDarkCyan);
    font-weight: 600;
}

.BtnCommunity {
    width: 300px;
    height: 70px;
    border-radius: 30px;
    background-color: var(--Pink);
    color: #ffffff;
    border: none;
    outline: none;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    margin: 20px 0 0 0;
    font-weight: 400;
    font-family: var(--headingFont);
}

.BtnCommunity:hover {
    opacity: 0.8;
}

.footer {
    margin: -50vh 0 0 0;
    width: 100%;
    height: 60vh;
    background-color: var(--VeryDarkCyan);
    color: #ffffff;
}

.info {
    margin: 70px 0 0 0;
    position: absolute;
    left: 5%;
    width: 25vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    width: 100%;
    left: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#logoFooter {
    position: absolute;
    left: 5%;
    object-fit: contain;
    filter: invert(98%) sepia(5%) saturate(2%) hue-rotate(44deg) brightness(105%) contrast(100%);
}

.info-content-left {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-content-left p {
    font-size: 14px;
    font-family: var(--bodyFont);
    font-weight: lighter;
}

#p1 {
    width: 87%;
    margin: 30px 10px 0 50px;
}

#location {
    position: absolute;
    left: 5%;
    margin: 32px 0 0 0;
}

#phone {
    position: absolute;
    left: 5%;
    margin: 120px 0 0 0;
}

#p2 {
    margin: 40px 0 0 0;
}

#email {
    position: absolute;
    left: 5%;
    margin: 200px 0 0 0;
}

#p3 {
    margin: 65px 0 0 0;
}

.info-content-center {
    position: absolute;
    width: 25vw;
    height: 40vh;
    left: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-content-center ul {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0px 0 0 65px;
}

.info-content-center ul li {
    margin: 30px 5px 10px 5px;
    list-style-type: none;
}

.info-content-center ul li a {
    color: #ffffff;
    font-family: var(--bodyFont);
    text-decoration: none;
}

.info-content-center ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.info-content-right {
    position: absolute;
    left: 300%;
    margin: 110px 0 0 0;
    width: 15vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 7vh;
}

.social .fab {
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 0px;
    border-radius: 50%;
}

.social .fab:hover {
    filter: invert(68%) sepia(23%) saturate(2938%) hue-rotate(289deg) brightness(105%) contrast(101%); 
}

.copyright {
    font-size: 11px; 
    position: absolute;
    width: 100%;
    left: 84%;
    bottom: -284%;
    font-family: var(--bodyFont);
    color: #ffffff;
}

.fade {
    opacity: 1;
}

@media screen and (max-width:812px) {

    body {
        width: 100%;
        height: 100%;
    }

    header {
        background-image: url(/images/bg-hero-mobile.svg);
        width: 100%;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-top {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: -40px 0 0 0;
    }

    #logo {
        position: absolute;
        left: -15%;
        top: 3%;
        width: 40%;
    }

    .BtnTry {
        position: absolute;
        right: -10%;
        width: 40%;
        height: 40px;
        top: 0%;
    }

    .hero {
        width: 100%;
        height: 90vh;
        padding: 0;
    }

    .hero-left {
        width: 100%;
        padding: 10px;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-left h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150%;
        text-align: center;
        font-size: 30px;
        margin: -20px 0 0 0;
    }

    .hero-left p {
        width: 90%;
        margin: 20px auto 0 auto;
    }

    .BtnFree {
        margin: 40px 0 0 0;
    }

    .hero-right {
        width: 100%;
        height: 40%;
        position: absolute;
        top: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 500px;
    }

    .banner-text {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 150px 0 0 0;
    }

    .banner-text h2, p {
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .banner-text p {
        margin: 30px 0 0 0;
    }

    #together {
        left: 0;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: -150px 0 0 100px;
    }

    #flowing {
        left: 0;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: -150px 0 0 100px;
    }

    #users{
        left: 0;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: -150px 0 0 100px;
    }

    .banner:nth-child(2) .banner-text:first-of-type {
        margin: 150px 0 0 0;
    }
    
    .banner:nth-child(2) .banner-text h2:first-of-type {
        margin: 0;
    }
    
    .banner:nth-child(3) .banner-text h2:first-of-type {
        margin: 0px;
    }

    .card {
        width: 90%;
        text-align: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150vh;
    }

    #logoFooter {
        position: absolute;
        margin: -300px 0 0 0;
    }

    .info-content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 115vw;
        margin: -120px 0 0 200px;
    }

    #location {
        margin: -150px 0 0 0;
    }

    #p1 {
        width: 70%;
        margin: -10px 0 0 50px;
        text-align: center;
    }

    #phone {
        margin: 15px 0 0 0;
    }

    #p2 {
        margin: 30px 0 0 -50px;
    }

    #email {
        margin: 150px 0 0 0;
    }

    #p3 {
        margin: 50px 0 0 -50px;
    }

    .info-content-center {
        width: 115vw;
        margin: 200px 0 0 -200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-content-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 600px 0 0 -150px;
    }

    .social {
        width: 150%;
        justify-content: space-around;
        margin: 20px
    }

    .copyright {
        position: absolute;
        bottom: -370%;
        left: 0;
    }

    .attribution {
        position: absolute;
        bottom: -375%;
        left: 0;
    }
}

@media screen and (min-width: 1500px) {
    #together {
        width: 24%;
    }

    #flowing {
        width: 27%;
    }

    #users {
        width: 25%;
    }
}